*{
    box-sizing: border-box;
}

body{
  font-family: "Helvetica", sans-serif;
}

main{
    margin: 0 auto;
    text-align: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 18px;
}

button:hover{
    background-color: #3e9141 ;
    color: white;
}