<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitties</title>
</head>
<body>
    <h1>WELCOME TO THE KITTY PAGES</h1>


    <% for(let cat in kitties){ %>
       <ul>
        <li><h2><%= kitties[cat] %></h2></li>
        </ul>
    <% } %>




</body>
</html>