<%- include("partials/head.ejs") %>
<body>
<%- include("partials/navbar.ejs") %>

<div class="container">
    <h1>WELCOME TO THE KITTY PAGES</h1>


    <% for(let cat in kitties){ %>
       <ul>
        <li><h2><%= kitties[cat] %></h2></li>
        </ul>
    <% } %>

</div>


</body>
</html>