<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS File</title>
</head>
<body>
    <h1>Welcome to the home page, this is created by an EJS file <%= "Hello" %></h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, iure necessitatibus aliquid numquam minima quasi maxime officiis mollitia nisi inventore. Sequi corrupti nesciunt adipisci omnis sed saepe ullam, incidunt consequuntur.
    Et adipisci explicabo, voluptates sequi qui nobis iste cumque vitae odio numquam. Quae dicta deserunt tempore ipsa in minima molestias, repellendus rerum facere obcaecati cupiditate iusto illum, quaerat exercitationem error!</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nam consequatur distinctio voluptatem, ducimus accusamus consectetur est in voluptates a dolorem placeat hic, deleniti, quae sapiente reprehenderit repellendus fugit nostrum.</p>
</body>
</html>