<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1><%= `Your random number is : ${random}` %> </h1>
    <!-- <% if (random % 2 === 0) { %>
        <%= "It's an even number" %>
    <% }  else { %>
    <%= "It's an odd number" %>
    <% } %> -->
</body>
</html>